@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}
/* Global Custom Scrollbar Styles with Blue Gradient */
*::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  background-color: #f0f4f8; /* Background color of the scrollbar track */
}

*::-webkit-scrollbar-track {
  background-color: #f0f4f8; /* Background color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    45deg,
    #3b82f6,
    #2e4569
  ); /* Blue gradient colors */
  border-radius: 10px; /* Rounded corners for the thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    45deg,
    #2563eb,
    #1d4ed8,
    #1e40af
  ); /* Darker blue gradient on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional shadow effect for hover */
}

html,
body {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(135deg, #0f172a, #1e293b, #334155);
  max-height: 100%;
  color: #ffffff;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

#main.open {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  overflow: hidden;
}

.header {
  z-index: 2;
  width: 100%;
}

.toggle {
  position: absolute;
  width: 2rem;
  height: 1.5rem;
  top: 2.25rem;
  right: 2.7rem;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
}

.toggle-btn {
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 1.6rem;
  height: 3px;
  background: #ffffff;
  transition: all 0.3s ease;
}

.toggle-btn::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  width: 2rem;
  height: 3px;
  background: #ffffff;
  transition: all 0.3s ease;
}

.toggle-btn::after {
  content: "";
  position: absolute;
  top: 0.5rem;
  width: 1.2rem;
  height: 2px;
  background: #ffffff;
  transition: all 0.3s ease;
}

.toggle-btn.open {
  transform: rotate(720deg);
  background: transparent;
}

.toggle-btn.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.toggle-btn.open::after {
  width: 2rem;
  transform: rotate(-45deg) translate(3px, -6px);
}

.str1 {
  transform: translate(0, -50%) rotate(-30deg);
}
.str2 {
  transform: translate(0, -50%) rotate(-15deg);
}
.str4 {
  transform: translate(0, -50%) rotate(15deg);
}
.str5 {
  transform: translate(0, -50%) rotate(30deg);
}

.sec.active h4,
.sec.active .title {
  opacity: 1;
}

.container {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden-content {
  opacity: 0;
  transform: translateY(20px); /* Slide down effect */
}

@layer base{
  .hero-ring{
    @apply absolute inset-0   border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5
  }
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  #circle {
    width: 150vh;
    height: 150vh;
    left: -80vh; /* Adjust positioning for smaller screens */
  }

  .sec h4 {
    font-size: 6vw;
  }

  #panel {
    width: 7%;
  }

  .mncircle {
    width: 1.5vw;
    height: 1.5vw;
  }
}

@media (min-width: 1024px) {
  .header .navbar .toggle {
    margin-right: 40px;
  }
}

@media (max-width: 900px) {
  #circle {
    width: 140vh;
    height: 140vh;
    left: -75vh; /* Adjust positioning for smaller screens */
  }
}

/* For mobile screens */
@media (max-width: 768px) {
  #circle {
    width: 120vh;
    height: 120vh;
    left: -7 0vh; /* Adjust positioning for smaller screens */
  }

  .stripe {
    height: 40px;
  }

  .sec h4 {
    font-size: 7vw;
  }

  .sec {
    padding-left: 20px;
  }

  #panel {
    width: 10%;
  }

  .mncircle {
    width: 2vw;
    height: 2vw;
  }
}

/* For compact smartphones */
@media (max-width: 480px) {
  #circle {
    width: 100vh;
    height: 100vh;
    left: -80vh; /* Adjust positioning for smaller screens */
  }

  .stripe {
    height: 30px;
  }

  .sec h4 {
    font-size: 7.5vw;
  }

  .sec {
    padding-left: 15px;
  }

  #panel {
    width: 15%;
  }

  .mncircle {
    width: 2vw;
    height: 2vw;
  }
}
